# Environment variables
.env
.env.local
.env.*.local

# Log files
*.Log

# Project-specific files
.DS_Store
node_modules/

# IDE and editor files
.vscode/
.idea/

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini